/*--------------------------------------------------------------
17.0 Customizer
--------------------------------------------------------------*/

.highlight-front-sections.twentyseventeen-customizer.page .twentyseventeen-panel {
  &:after {
    border: 2px dashed $blue1;
    /* Matches visible edit shortcuts. */
    bottom: 1em;
    content: "";
    display: block;
    left: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1;
  }
  .panel-content {
    z-index: 2;
    /* Prevent :after from preventing interactions within the section */
  }
}

/* Used for placeholder text */

.twentyseventeen-customizer.page .twentyseventeen-panel .twentyseventeen-panel-title {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 3em;
  text-transform: uppercase;
  text-align: center;
}

/* Show borders on the custom page panels only when the front page sections are being edited */

.highlight-front-sections.twentyseventeen-customizer.page .twentyseventeen-panel:nth-of-type(1):after {
  border: none;
}

.page.twentyseventeen-customizer #primary article.panel-placeholder {
  border: 0;
}

/* Add some space around the visual edit shortcut buttons. */

.twentyseventeen-panel > .customize-partial-edit-shortcut > button {
  top: 30px;
  left: 30px;
}

.twentyseventeen-panel {
  .customize-partial-edit-shortcut-hidden:before {
    visibility: visible;
  }
}

.vc_pagination-color-grey{
  &.vc_pagination-style-outline,
  &.vc_pagination-style-flat,
  &.vc_general.vc_pagination {
    .vc_pagination-item {
      .vc_pagination-trigger {
        background-color: transparent;
        border-color: $yellow-website;
        border-width: 2px;
        width: 20px;
        height: 20px;
        box-shadow: none;
      }
      &.vc_active {
        .vc_pagination-trigger {
          background-color: $yellow-website;
        }
      }
    }
  }
}

.vc_grid.vc_grid-owl-theme{
  .vc_grid-owl-dots.vc_grid-radio_dots.vc_grid-owl-dots-color-grey{
    .vc_grid-owl-dot span{
      background-color: transparent !important;
      border-color: $white1 !important;
      border-width: 2px;
      width: 20px;
      height: 20px;
      box-shadow: none;
    }
    .vc_grid-owl-dot.active span{
      background-color: $white1;
    }
  }
}

/* Ensure that placeholder icons are visible. */
