@font-face {font-family: "Affable W01 Regular";
  src: url("assets/fonts/AffableW01/AffableW01Regular.eot"); /* IE9*/
  src: url("assets/fonts/AffableW01/AffableW01Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("assets/fonts/AffableW01/AffableW01Regular.woff2") format("woff2"), /* chrome、firefox */
  url("assets/fonts/AffableW01/AffableW01Regular.woff") format("woff"), /* chrome、firefox */
  url("assets/fonts/AffableW01/AffableW01Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("assets/fonts/AffableW01/AffableW01Regular.svg#Affable W01 Regular") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Berthold Walbaum Book Regular";
  src: url("assets/fonts/BertholdWalbaumBook/BertholdWalbaumBookRegular.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}