/*--------------------------------------------------------------
13.6 Footer
--------------------------------------------------------------*/

.site-footer {
  border-top: 1px solid $silver2;
  .wrap {
    padding-bottom: 1.5em;
    padding-top: 2em;
  }
  .widget-area {
    padding-bottom: 4.938em;
    padding-top: 5.563em;
    background-color: $yellow-website;
    .footer-logo{
      width: 35vw;
      margin-left: auto;
      margin-right: auto;
    }
    .footer-text{
      padding-top: 2.063em;
      font-family: Helvetica;
      font-size: 24px;
      font-size: 1.5rem;
      font-weight: 300;
      text-align: center;
      color: $dark-blue1;
    }
    >.wrap{
      >.wrap-fluid{
        display: flex;
        justify-content: space-between;
      }
      .widget-column{
        display: flex;
      }
    }
    .widget-column.footer-widget{
      width: 100%;
      overflow-x: hidden;
      .instagram{
        width: 1000%;
        margin-bottom: 0.500em;
        a{
          float: left;
          width: 260px;
          height: 260px;
          &:hover{
            opacity: 0.6;
          }
        }
        &:after {
          clear: both;
          content: "";
          display: block;
        }
      }
    }
    .widget-column.footer-widget{
      a{
        text-transform: uppercase;
        font-family: Helvetica;
        font-size: 1.125rem;
        line-height: 1.67;
        color: $dark-blue1;
      }
    }
  }
  .social-links-menu{
    .menu-item{
      > a {
        > .icon {
          fill: $white1;
          margin-right: 0.688em;
        }
      }
    }
  }
}

/* Site info */

.site-info {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 1em;
  color: $dark-blue1;
  text-align: center;
  a {
    color: $dark-blue1;
  }
  .wrap{
    padding-bottom: 4.5em;
    padding-top: 3.063em;
  }
  .contact{
    margin-bottom: 2.063em;
  }
  .copyright{
    font-weight: 300;
  }
  .sep {
    margin: 0;
    display: block;
    visibility: hidden;
    height: 0;
    width: 100%;
  }
}

.site-footer .site-info .contact .icon-envelop {
  width: 25px;
}

@media screen and (max-width: 1072px) {
  .site-footer .widget-area .widget-column.footer-widget .instagram a {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .site-footer .widget-area {
    padding-bottom: 0;
    .footer-logo {
      width: 50vw;
    }
    .footer-text {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .site-footer .widget-area .widget-column.footer-widget .instagram a {
    width: 150px;
    height: 150px;
  }
  
  .site-footer .widget-area>.wrap .widget-column,
  .site-footer .widget-area>.wrap>.wrap-fluid {
    display: block;
  }

  .site-footer .widget-area>.wrap .widget-column {
    display: block;
    margin-bottom: 40px;
    text-align: center;

    .social-links-menu {
      width: 155px;
      margin: 0 auto;
      text-align: left;
    }
  }

  .site-footer .site-info .wrap {
    padding-bottom: 0.5em;
    padding-top: 2em;
    .contact > span {
      display: block;
    }
  }
}

@media screen and (max-width: 480px) {
  .site-footer .widget-area .footer-logo {
    width: 70vw;
  }
  .site-footer .site-info .wrap {
    font-size: 16px;
  }
}