/*--------------------------------------------------------------
13.2 Front Page
--------------------------------------------------------------*/

.page .site-content {
  padding: 0;
}

.twentyseventeen-panel {
  overflow: hidden;
  position: relative;
}

.panel-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:before {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+100 */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#4d000000", GradientType=0);
    /* IE6-9 */
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    top: 100px;
  }
}

.page article:not(.has-post-thumbnail):not(:first-child) {
  border-top: 1px solid $silver3;
}

.panel-content {
  position: relative;
  .wrap {
    padding-bottom: 0.5em;
    padding-top: 1.75em;
  }
}

/* Panel edit link */

.twentyseventeen-panel {
  .edit-link {
    display: block;
    margin: 0.3em 0 0;
  }
  .entry-header .edit-link {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

/* Front Page - Recent Posts */

.page .panel-content .recent-posts article {
  border: 0;
  color: $black3;
  margin-bottom: 3em;
}

.recent-posts .entry-header {
  margin-bottom: 1.2em;
}

.page .panel-content .recent-posts .entry-title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
}

.twentyseventeen-panel .recent-posts .entry-header .edit-link {
  color: $black2;
  display: inline-block;
  font-size: 11px;
  font-size: 0.6875rem;
  margin-left: 1em;
}
