.trw-grid-cont {
  .trw-grid-marker {
    background: transparent;
    border-color: transparent;
    min-height: 1px;
    &[data-trw-grid-loading="1"] {
      height: 30px;
      background: no-repeat url("assets/images/ajax-loader.gif") center center;
    }
  }
}