/*--------------------------------------------------------------
13.1 Header
--------------------------------------------------------------*/

#masthead .wrap {
  position: relative;
}

.site-header {
  background-color: $white2;
  position: relative;
}

/* Site branding */

.site-branding {
  padding: 1em 0;
  position: relative;
  -webkit-transition: margin-bottom 0.2s;
  transition: margin-bottom 0.2s;
  z-index: 3;
}
.site-title {
  clear: none;
  font-size: 24px;
  font-size: 1.5rem;
  font-family: $font-family-lang11;
  letter-spacing: 0.01rem;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  color: $black2;
  opacity: 1;
  /* Prevent opacity from changing during selective refreshes in the customize preview */
  a {
    color: $black2;
    opacity: 1;
    /* Prevent opacity from changing during selective refreshes in the customize preview */
  }
}

body {
  &.has-header-image .site-title, &.has-header-video .site-title, &.has-header-image .site-title a, &.has-header-video .site-title a {
    padding-top: 5vh;
  }
}

.site-description {
  color: $dark-blue1;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: bold;
  font-family: $font-family-lang5;
  margin-bottom: 0;
  padding-top: 3vh;
}

.custom-logo-link {
  display: inline-block;
  padding-right: 1em;
  vertical-align: middle;
  width: auto;
  img {
    display: inline-block;
    max-height: 80px;
    width: auto;
  }
}

body.home.title-tagline-hidden {
  &.has-header-image .custom-logo-link img, &.has-header-video .custom-logo-link img {
    max-height: 200px;
    max-width: 100%;
  }
}

.custom-logo-link a {
  &:hover, &:focus {
    opacity: 0.9;
  }
}

body:not(.title-tagline-hidden) {
  .site-branding-text {
    display: inline-block;
    vertical-align: middle;
  }
}

.custom-header {
  position: relative;
}

.page {
  &.has-header-image, &.has-header-video {
    .custom-header {
      display: table;
      height: 300px;
      height: 75vh;
      width: 100%;
    }
    .partners-top{
      position: relative;
      background-color: $white1;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
      .wrap-fluid{
        display: flex;
        justify-content: space-between;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
      }
      .partner{
        img{
          height: 5.625em;
        }
      }
    }
  }
}

.custom-header-media {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.has-header-image .custom-header-media img {
  position: fixed;
  height: auto;
  left: 50%;
  max-width: 1000%;
  min-height: 100%;
  min-width: 100%;
  min-width: 100vw;
  /* vw prevents 1px gap on left that 100% has */
  width: auto;
  top: 50%;
  padding-bottom: 1px;
  /* Prevent header from extending beyond the footer */
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.has-header-video .custom-header-media {
  video, iframe {
    position: fixed;
    height: auto;
    left: 50%;
    max-width: 1000%;
    min-height: 100%;
    min-width: 100%;
    min-width: 100vw;
    /* vw prevents 1px gap on left that 100% has */
    width: auto;
    top: 50%;
    padding-bottom: 1px;
    /* Prevent header from extending beyond the footer */
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

.wp-custom-header .wp-custom-header-video-button {
  /* Specificity prevents .color-dark button overrides */
  background-color: rgba(34, 34, 34, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  height: 45px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 30px;
  top: 30px;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
  width: 45px;
  &:hover, &:focus {
    /* Specificity prevents .color-dark button overrides */
    border-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(34, 34, 34, 0.8);
    color: $white1;
  }
}

.admin-bar .wp-custom-header-video-button {
  top: 62px;
}

/* For browsers that support 'object-fit' */
@supports (object-fit: cover) {
  .has-header-image .custom-header-media img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 100%;
  }
  .has-header-video .custom-header-media {
    video, iframe {
      height: 100%;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      top: 0;
      -ms-transform: none;
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
      width: 100%;
    }
  }
}

/* Hides div in Customizer preview when header images or videos change. */

body:not(.has-header-image):not(.has-header-video) .custom-header-media {
  display: none;
}

.page{
  &.has-header-image, &.has-header-video{
    .site-branding{
      display: table-cell;
      height: 100%;
      vertical-align: bottom;
      > .wrap{
        margin: 0;
        width: 45vw;
      }
      .site-branding-logo{
        > svg{
          width: 25vw;
        }
      }
      .site-branding-background{
        height: 100vh;
        width: 60vw;
        top:0;
        left:0;
        position: absolute;
        overflow: hidden;
        z-index: -1;
      }
      .featured{
        display: block;
        position: absolute;
        left: 2em;
        color: #fff;
        bottom: 2em;
        font-family: Helvetica;
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}