/*--------------------------------------------------------------
13.0 Layout
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

* {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
  &:before, &:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
  }
}

body {
  background: $white1;
  /* Fallback for when there is no custom background color defined. */
}

#page {
  position: relative;
  word-wrap: break-word;
}

.wrap, .wrap-fluid{
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.wrap{
  max-width: 700px;
}

.vc_row.vc_row-o-equal-height.vc_row-o-content-middle{
  >.vc_column_container{
    align-items: center;
  }
}
