/*--------------------------------------------------------------
8.0 Lists
--------------------------------------------------------------*/

ul, ol {
  margin: 0 0 1.5em;
  padding: 0;
}

ul {
  list-style-type: disc;
  padding-left: 1em;
}

ol {
  list-style: decimal;
}

li > {
  ul, ol {
    margin-bottom: 0;
    margin-left: 1.5em;
  }
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}