@media screen and (min-width: 64em) {
/* ================ header ================ */
  .page.has-header-image {
    .site-branding {
      .site-branding-logo {
        //padding-top: 10vh;
      }
      .site-branding-text {
        margin: 0;

        .site-title {
          font-size: 2em;
        }
        .site-description {
          font-size: 1.2em;
          padding-right: 4vw;
        }
        .btn-row {
          button.ghost-btn {
            padding: .5em 3em;
          }
        }
      }
      .menu-scroll-down {
        bottom: 0;
      }
      &>.wrap {
        margin-top: 10vh;
        margin-left: 7vw;
      }
    }
    &:not(.home) {
      .site-branding {
        .site-branding-text {
          margin: 0;
          padding: 5em 1em 0 5em;
        }
        &>.wrap {
          margin: 0;
        }
      }
    }
    &.location {
      .site-branding {
        .site-branding-text {
          margin-top: 20%;
        }
      }
    }
  }

  .height-block-800.left-block > div,
  .height-block-800.right-block > div > div {
    padding: 2em!important;
  }
}