@media screen and (min-width: 79em) {
  .has-sidebar .entry-content blockquote.alignleft {
    margin-left: -20%;
  }
  .blog:not(.has-sidebar) ,
  .archive:not(.has-sidebar) ,
  .page-two-column ,
  .page {
    .entry-content blockquote.alignright{
      margin-right: -20%;
    }
  }
  /* ================ header ================ */
  .page.has-header-image {
    .site-branding {
      height: 100vh;

      .site-branding-text {
        .site-title {
          font-size: 2.4em;
        }
        .btn-row {
          a {
            margin-left: 1em;
          }
        }
      }

      .site-branding-background {
        width: 70vw;
        height: 100vh;
      }
      .featured {
        bottom: 1em;
      }
    }
    &:not(.home) {
      .site-branding {
        .site-branding-logo {
          width: 300px;
        }
        .site-branding-text {
          padding: 5vh 2vw 0 5vw;
        }
      }
    }
  }
}