@media screen and (min-width: 67em) {
  /* Navigation */
  .navigation-top {
    .wrap {
      padding: 0.75em 2em;
    }
    nav {
      margin-left: 0;
    }
  }
  /* Sticky posts */
  .sticky .icon-thumb-tack {
    font-size: 32px;
    font-size: 2rem;
    height: 22px;
    left: -1.25em;
    top: 0.75em;
    width: 32px;
  }
  /* Pagination */
  .page-numbers {
    display: inline-block;
    &.current {
      font-size: 15px;
      font-size: 0.9375rem;
      .screen-reader-text {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px;
      }
    }
  }
  /* Comments */
  .comment-body {
    margin-left: 0;
  }
/* ================ header ================ */
  .page.has-header-image {
    .site-title a {
      font-size: 1.1em;
    }
    .site-branding {
      .site-branding-text {
        .site-description {
          &, &+p{
            font-size: 1.5em;
          }
        }
        .btn-row {
          //width: 100%;
          margin-top: 0;

          button.ghost-btn {
            padding: 10px 70px;
            width: auto;
            &, & + a {
              font-size: .9em;
            }
          }
        }
      }
    }
    .height-block-800.left-block > div,
    .height-block-800.right-block > div > div {
      padding: 6em!important;
    }
  }
}