/*--------------------------------------------------------------
19.0 Media Queries
--------------------------------------------------------------*/

/* Adjust positioning of edit shortcuts, override style in customize-preview.css */
@media screen and (min-width: 20em) {
  body.customize-partial-edit-shortcuts-shown .site-header .site-title {
    padding-left: 0;
  }
/* ================ header ================ */
  .page.has-header-image {
    .site-title a {
      padding-top: 2vh;
      font-size: 0.9em;
    }
    .custom-header {
      height: 57vh;
    }
    .custom-header-media img {
      display: none;
    }
    .site-branding {
      overflow: hidden;

      .site-branding-text {
        width: 100%;
        margin: 0;
        padding: 0 1em;

        .site-description {
          &, &+p{
            font-size: 1.1em;
          }
        }
        .btn-row {
          width: 100%;
          margin-top: -1em;

          button.ghost-btn {
            &, & + a {
              font-size: 15px;
              padding: 10px;
              display: block;
              width: 100%;
              text-align: center;
            }
          }
        }
      }

      .site-branding-background {
        width: 200vw;
        height: 100%;
      }
      &>.wrap {
        width: 100vw;
      }

      .menu-scroll-down,
      .featured {
        display: none;
      }
    }
    &.online-program {
      .site-branding-background {
        svg {
          height: auto;
        }
      }
    }
    &.location {
      .site-branding {
        .site-branding-text {
          .btn-row {
            margin-top: 1em;
          }
        }
      }
    }
    &.home {
      .site-branding {
        .site-branding-text {
          .btn-row {
            margin-top: 1em;

            a {
              margin-left: 0;
              margin-top: 1em;
              padding: .5em 1em;
              color: $dark-blue1;
              border: 3px solid #fff;
              font-size: .8em;
              text-transform: uppercase;
              display: block;
              text-align: center;
            }
          }
        }
      }
      .partners-top {
        .wrap-fluid {
          display: block;
          .partner {
            width: 49%;
            display: inline-block;
          }
        }
      }
    }
  }
}