@media screen and (min-width: 90em) {
  /* ================ header ================ */
  .page.has-header-image {
    &:not(.home) {
      .site-branding {
        .site-branding-text {
          padding: 15vh 2vw 0 6vw;
        }
      }
    }
  }
}