/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

.navigation-top {
  background: $white1;
  border-bottom: 1px solid $silver2;
  border-top: 1px solid $silver2;
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  .wrap {
    max-width: 1000px;
    padding: 0;
  }
  a {
    color: $black2;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 18px;
    font-size: 1.125rem;
  }
  .current-menu-item, .current_page_item{
    > a {
      color: $black2;
    }
  }
}

.main-navigation {
  display: block;
  ul {
    background: $white1;
    list-style: none;
    margin: 0;
    padding: 0 1.5em;
    text-align: left;
  }
  .navbar-brand{
    text-align: center;
    > a > svg{
      padding: 1em 0;
      width: 280px;
    }
  }
}

/* Hide the menu on small screens when JavaScript is available.
 * It only works with JavaScript.
 */

.js .main-navigation ul {
  display: none;
}

.main-navigation {
  .menu-item-has-children > a > .icon, .page_item_has_children > a > .icon, ul a > .icon {
    display: none;
  }
  > div > ul {
    border-top: 1px solid $silver2;
    padding: 0.75em 1.695em;
  }
}

.js .main-navigation.toggled-on > div > ul {
  display: block;
}

.main-navigation {
  ul ul {
    padding: 0 0 0 1.5em;
    &.toggled-on {
      display: block;
    }
    a {
      letter-spacing: 0;
      padding: 0.4em 0;
      position: relative;
      text-transform: none;
    }
  }
  li {
    border-bottom: 1px solid $silver2;
    position: relative;
    text-align: center;
    li, &:last-child {
      border: 0;
    }
    li{
      &:after{
        display: block;
        background-color: $white1;
        height: 2px;
        width: 80%;
        content: '';
        margin: 0 auto;
      }
      &:last-child:after{
        display: none;
      }
    }
  }
  a {
    display: block;
    padding: 0.5em 0;
  }
}

/* Menu toggle */

.menu-toggle {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $black2;
  display: none;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.5;
  margin: 1px auto 2px;
  padding: 1em;
  text-shadow: none;
}

/* Display the menu toggle when JavaScript is available. */

.js .menu-toggle,
.main-navigation.toggled-on ul.nav-menu {
  display: block;
}

.menu-toggle {
  &:hover {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .icon {
    margin-right: 0.5em;
    top: -2px;
  }
}

.toggled-on .menu-toggle .icon-bars,
.menu-toggle .icon-close {
  display: none;
}

.toggled-on .menu-toggle .icon-close {
  display: inline-block;
}

/* Dropdown Toggle */

.dropdown-toggle {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $black2;
  display: block;
  font-size: 16px;
  right: -0.5em;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0.5em;
  position: absolute;
  text-shadow: none;
  top: 0;
  &:hover {
    background: transparent;
  }
  &:focus {
    background: transparent;
  }
  &.toggled-on .icon {
    -ms-transform: rotate(-180deg);
    /* IE 9 */
    -webkit-transform: rotate(-180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
  }
}

/* Scroll down arrow */

.site-header .menu-scroll-down {
  display: none;
  text-align: center;
  width: 8em;
  > span{
    font-size: 40px;
    font-size: 2.5rem;
    font-family: $font-family-lang10;
  }
}

.btn{
  border-style: solid !important;
  border-width: 2px !important;
  &.btn-primary{
    border-color: $yellow-website !important;
  }
  &.btn-ghost{
    color: $dark-blue1;
    border-color: $white1 !important;
  }
}
.vc-btn{
  border: none !important;
  margin-bottom: 0;
  > a, > button{
    &.vc_btn3.vc_btn3-style-modern{
      border-width: 2px;
      background-image: none;
      font-weight: bold;
      font-family: $font-family-lang5;
    }
  }
  &.btn-primary{
    > a, > button{
      &.vc_btn3.vc_btn3-style-modern{
        color: $dark-blue1;
        border-color: $yellow-website;
        background-color: $yellow-website;
        font-family: $font-family-lang5;
      }
    }
  }
  &.btn-ghost{
    > a, > button{
      &.vc_btn3.vc_btn3-style-modern{
        color: $dark-blue1;
        border-color: $white1;
        background-color: transparent;
      }
    }
  }
}

.menu-blog-menu-container,
.menu-top-menu-container
//.widget_categories .cat-item
{
  a:hover {
    background-color: $yellow-website;
  }
}