/*--------------------------------------------------------------
13.5 Pages
--------------------------------------------------------------*/
/* privacy policy page */

.privacy-policy-2 .pr-policy {
  width: 1024px;
  margin: 0 auto;
}
/* ============== */

.page-header {
  padding-bottom: 2em;
}

.page .entry-header .edit-link {
  font-size: 14px;
  font-size: 0.875rem;
}

.search .page .entry-header .edit-link {
  font-size: 11px;
  font-size: 0.6875rem;
}
.vc_row.small-row-block {
  width: 1000px;
  margin: 0 auto 20px;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page:not(.home) #content {
  padding-bottom: 1.5em;
}

/* 404 page */

.error404 .page-content {
  padding-bottom: 4em;
  .search-form {
    margin-bottom: 3em;
  }
}

.search .page-content .search-form {
  margin-bottom: 3em;
}