.trw-popup-cont {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  display: none;
  &.trw-popup-active {
    display: block;
  }
  .trw-popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-trans1;
    &.trw-popup-trans {
      background: transparent;
    }
  }
  .trw-popup-window-cont {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    @media screen and (min-width: 768px) {
      width: 80%;
    }
  }
  .trw-popup-window {
    position: absolute;
    z-index: 100010;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white1;
    @media screen and (min-width: 768px) {
      top: 100px;
      bottom: 100px;
    }
  }
  .trw-popup-close {
    display: block;
    position: absolute;
    top: 15px;
    right: 18px;
    z-index: 100000;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    transition: initial;
    &::before {
      content: "+";
      display: block;
      width: 40px;
      transform: rotate(45deg);
      font-size: 80px;
      line-height: 40px;
      color: $gray5;
      font-weight: normal;
    }
    &:focus::before {
      color: $dark-blue1;
    }
  }
  .trw-popup-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    color: $dark-blue1;
    .vc_row {
      margin-left: 0;
      margin-right: 0;
    }
    h2 {
      font-family: $font-family-walbaumbook-regular;
      font-size: 34px;
      font-weight: normal;
      margin-bottom: 6px;
      @media screen and (min-width: 768px) {
        font-size: 44px;
      }
    }
    p {
      font-family: $font-family-lang5;
      font-size: 24px;
      line-height: 30px;
      height: 100%;
    }
    input[type=text],
    input[type=email] {
      margin-bottom: 22px;
    }
    input[type=submit] {
      margin-top: 35px;
      max-width: 100%;
      padding-left: 35px;
      padding-right: 35px;
      @media screen and (min-width: 768px) {
        padding-left: 55px;
        padding-right: 55px;
      }
    }
  }

  &.popup-request-course-syllabus {
    @media screen and (min-width: 768px) {
      .trw-popup-window-cont {
        max-width: 800px;
      }
      .trw-popup-window {
        max-height: 680px;
      }
    }
    .trw-popup-content {
      padding: 20px;
      @media screen and (min-width: 480px) {
        padding: 35px 55px;
      }
      @media screen and (min-width: 768px) {
        padding: 75px 100px;
      }
    }
  }

  &.popup-free-e-book {
    @media screen and (min-width: 1072px) {
      .trw-popup-window-cont {
        max-width: 1040px;
      }
      .trw-popup-window {
        max-height: 631px;
      }
    }
    .trw-popup-content {
      .vc_row {
        height: 100%;
      }
      .popup-left-form-cont {
        background-color: $silver4;
      }
      .popup-right-form-cont {
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px;
        @media screen and (min-width: 480px) {
          padding: 20px 55px;
        }
        @media screen and (min-width: 768px) {
          padding: 75px 22px 75px 27px;
        }
      }
    }
  }
}