// Colors
$white1: #fff;
$white2: #fafafa;

$black1: #000;
$black2: #203153;
$black3: #333;

$silver1: #f1f1f1;
$silver2: #eee;
$silver3: #ddd;
$silver4: #E7E7E7;
$silver5: #f9f9f9;

$gray1: #767676;
$gray2: #bbb;
$gray3: #666;
$gray4: #aaa;
$gray5: #555;
$gray6: #777;

$gray-trans1: rgba(0,0,0,0.5);

$blue1: #0085ba;
$blue2: #21759b;

$dark-blue1: #203153;
$dark-blue2: #182441;
$dark-blue3: #182342;
$dark-blue4: rgba(32, 49, 83, 0.6);

$yellow-website: #fedc54;
$yellow-logo: #FCCD11;

// Fonts
$font-family-base: sans-serif;
$font-family-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-family-input: "Helvetica Neue", helvetica, arial, sans-serif;
$font-family-lang1: Tahoma, Arial, sans-serif;
$font-family-lang2: "PingFang TC", "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif;
$font-family-lang2s: "PingFang SC", "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif;
$font-family-lang3: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
$font-family-lang4: Arial, sans-serif;
$font-family-lang5: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-lang6: "Arial Hebrew", Arial, sans-serif;
$font-family-lang7: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
$font-family-lang8: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;
$font-family-lang9: "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-lang10: "Affable W01 Regular", sans-serif;
$font-family-lang11: "Berthold Walbaum Book Regular", sans-serif;
$font-family-mono: monospace, monospace;
$font-family-placeholder: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
$font-family-pre: "Courier 10 Pitch", Courier, monospace;
$font-family-walbaumbook-regular: WalbaumBook-Regular;