.about-2.page{
  .site-content {
    > .wrap-fluid {
      padding-left: 0;
      padding-right: 0;
      overflow-x: hidden;
    }
  }

  p, h2 {
    color: $dark-blue1;
  }

  h2.widgettitle {
    font-size: 28px;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .column-with-padding {
    padding-left: 1em;
    padding-right: 1em;
  }

  .wpb_content_element {
    margin-bottom: 0;
  }

  .btn-primary {
    display: block;
    button {
      padding: 10px 60px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 1em auto;
      display: block;
      border-radius: unset;
    }
  }

  .team-section{
    .wpb_single_image{
      position: relative;
      .vc_single_image-wrapper{
        >img{
          border-radius: 50%;
        }
        .read-more{
          display: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          color: $yellow-website;
          z-index: 1;
          background-color: transparent;
          text-transform: uppercase;
          font-size: 18px;
          padding: 0;
          font-family: $font-family-lang5;
          font-weight: bold;
          &:after {
            content: '\25ba';
          }
        }
      }
      &:hover{
        .read-more{
          display: block;
        }
        &:after{
          border-radius: 50%;
          display: block;
          content: '';
          height: 100%;
          width: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          background-color: $dark-blue4;
        }
      }
    }
  }

  .bordered-btn.vc-btn.btn-primary>button.vc_btn3.vc_btn3-style-modern {
    border: 1px solid #fff;
  }

  .our-pillars-row {
    .title-text {
      margin-bottom: 1em;
      p {
        text-align: center;
        font-size: 28px;
      }
      h2.widgettitle {
        font-size: 28px;
      }
    }

    img {
      max-width: 50%;
    }
  }

  .textwidget {
    p {
      text-align: center;
    }
  }

  .signature-block,
  .signature-block-position {
    font-weight: normal;
    text-align: right;
  }

  .signature-block {
    font-family: $font-family-lang10;
    font-size: 24px;
  }
  .signature-block-position {
    font-family: $font-family-input;
    font-size: 20px;
  }

  .vc_single_image-wrapper {

  }

  @media screen and (min-width: 48em) {
    .column-with-padding {
      padding-left: 3em;
      padding-right: 3em;
    }
    .desktop-align-left {
      p, h2 {
        text-align: left;
      }
    }
    p {
      font-size: 20px;
    }
    .our-pillars-row {
      margin-top: 3em;
      margin-bottom: 3em;
      .title-text {
        p {
          font-size: 32px;
        }
      }
      h2.widgettitle {
        font-size: 28px;
      }
      .textwidget {
        p {
          font-size: 17px;
        }
      }
    }
    .signature-block {
      p {
        font-size: 32px;
      }
    }
    .signature-block-position {
      p {
        font-size: 24px;
      }
    }
    h2.widgettitle {
      font-size: 32px;
    }
  }

  @media screen and (min-width: 64em) {
    .column-with-padding {
      padding-left: 5em;
      padding-right: 5em;
    }
    .our-pillars-row {
      margin-top: 6em;
      margin-bottom: 6em;
      .title-text {
        p {
          font-size: 44px;
        }
      }
      .textwidget {
        p {
          font-size: 24px;
        }
      }
    }
    /*.vc_column-inner {
      padding: 0;
    }*/
    h2.widgettitle {
      font-size: 44px;
    }
  }
}
