/* blog overview page */

.blog.page {
  .wrap-fluid,.vc_column_container>.vc_column-inner,.vc_row{
    padding: 0;
    margin: 0;
  }
  h1.entry-title {
    display: none;
  }
}

.categories-top-widget,.blog-menu{
  text-align:center;
  margin-bottom: 15px;
  .widget{
    padding-bottom: 0px;
  }
  .widgettitle{
    display: none;
  }
  ul{
    display: inline-block;
    padding:0;
    li{
      display: inline;
      &.cat-item-1{
        display: none;
      }
      a{
        padding: 0 10px;
        text-decoration: none;
        box-shadow: none;
      }
    }
  }

}
.categories-top-widget {
  ul {
    li {
      a {
        text-transform: uppercase;
      }
    }
  }
}
.blog-menu{
  ul {
    padding-bottom: 10px;
    border-bottom: 3px solid $yellow-website;
    li{
      a{
        font-family: $font-family-walbaumbook-regular;
        font-size: 40px;
      }
    }
  }
}

.vc_basic_grid.blog-overview-grid {
  margin: 0;
  padding: 0;
  .vc_grid.vc_row.vc_grid-gutter-10px .vc_pageable-slide-wrapper {
    margin: 0;
    padding: 0;
  }
  .vc_grid-item.vc_visible-item {
    padding-bottom: 20px;
    .vc_gitem-animated-block {
      & + .vc_gitem-zone {
        padding: 10px 15px;
        * {
          margin: 0;
          padding: 0;
        }
        .vc_gitem-post-data-source-post_title {
          h4 {
            color: $dark-blue1;
            font-size: 16px;
            font-family: $font-family-lang5;
            font-weight: bold;
            padding-bottom: 5px;
          }
        }
        .vc_btn3-container.vc_btn3-left {
          a {
            background-color: transparent;
            color: $yellow-website;
            text-transform: uppercase;
            font-size: 16px;
            padding: 0;
            font-family: $font-family-lang5;
            font-weight: bold;
            border: 0;
            &:hover {
              border: 0;
            }
            &:after {
              content: '\25ba';
            }
          }
        }
      }
    }
    .vc-gitem-zone-height-mode-auto:before {
      padding-top: 50%;
    }
  }
}

@media screen and (min-width: 480px) {
  .vc_basic_grid.blog-overview-grid {
    .vc_grid-item.vc_visible-item {
      padding-bottom: 10px;
      .vc_gitem-animated-block {
        & + .vc_gitem-zone {
          position: absolute;
          bottom: 30px;
          left: 0;
          width: 60%;
          z-index: 6;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .vc_basic_grid.blog-overview-grid {
    .vc_grid-item.vc_visible-item {
      display: block;
      float: left;
      box-sizing: border-box;
      .vc_gitem-animated-block {
        & + .vc_gitem-zone {
          padding: 20px;
          .vc_gitem-post-data-source-post_title {
            h4 {
              font-size: 18px;
            }
          }
          .vc_btn3-container.vc_btn3-left {
            a {
              font-size: 18px;
            }
          }
        }
      }
      &:nth-child(6*n+5) {
        float: right;
      }
      &:nth-child(6*n+1), &:nth-child(6*n+4), &:nth-child(6*n+6) {
        padding-right: 5px;
      }
      &:nth-child(6*n+2), &:nth-child(6*n+3), &:nth-child(6*n+5) {
        padding-left: 5px;
        .vc_gitem-animated-block {
          & + .vc_gitem-zone {
            left: auto;
            right: 0;
          }
        }
      }
      .vc-gitem-zone-height-mode-auto:before {
        padding-top: 100%;
      }
      &:nth-child(6*n+2), &:nth-child(6*n+3), &:nth-child(6*n+4), &:nth-child(6*n+6) {
        .vc-gitem-zone-height-mode-auto:before {
          padding-top: 50%;
        }
      }
      &:nth-child(6*n+1), &:nth-child(6*n+5) {
        .vc-gitem-zone-height-mode-auto:before {
          padding-bottom: 10px;
        }
      }
    }
  }
}