/* city-program-register page */

.city-program-register.page {

  .vc_row {
    margin: 0;
  }

  .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .vc_row-has-fill>.vc_column_container>.vc_column-inner{
    padding-top: 0 !important;
  }

  .wrap-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .site-content {
    padding-bottom: 0 !important;
  }

  footer {
    margin-top: 0;
  }

  h1 {
    font-family: $font-family-walbaumbook-regular;
    font-size: 44px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-blue1;
  }

  .An-8-week-part-time {
    font-family: $font-family-lang5;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-blue1;
  }

  .An-8-week-part-time-text-style-1 {
    font-family: $font-family-lang5;
    font-weight: 300;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-blue1;
    font-size: 20px;
    font-style: oblique;
  }

  .x-3-hour-workshops {
    font-family: $font-family-lang5;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-blue1;
  }

  .What-to-expect {
    height: 29px;
    font-family: $font-family-lang5;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-blue1;
  }

  .circle-style {
    display: block;
    width: 52%;
    text-align: center;
    border-radius: 100%;
    background: $yellow-website ;
    margin: 0 auto;
    .text-class {
      display: block;
      height: 0;
      padding: 50% 5%;
      font-weight: 300;
      font-family: $font-family-lang10;
      color: $dark-blue1;
      font-size: 22px;
      transform: translateY(-22%);
      .first-text {
        border-bottom-style: solid;
        border-color: $white1;
        border-width: 2px;
        padding: 0 5px;
      }
      .second-text {
        font-family: $font-family-walbaumbook-regular;
      }
    }
  }

  @media screen and (min-width: 480px) {
    .circle-style {
      .text-class {
        font-size: 34px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .circle-style {
      width: 60%;
      .text-class {
        font-size: 22px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .circle-style {
      .text-class {
        font-size: 28px;
      }
    }
  }

  @media screen and (min-width: 1240px) {
    .circle-style {
      .text-class {
        font-size: 36px;
      }
    }
  }
}
