.event.page,
.event-page.page{
  .site-content {
    > .wrap-fluid {
      padding-left: 0;
      padding-right: 0;
      overflow-x: hidden;
    }
  }

  .vc_row.vc_row-flex>.vc_column_container>.vc_column-inner {
    @media screen and (min-width: 48em) {
      padding: 0;
    }
  }

  .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0;
  }


  .textwidget {
    p {
      text-align: center;
      color: $dark-blue1;
      @media screen and (min-width: 48em) {
        text-align: left;
      }
    }
  }

  .desktop-with-padding {
    @media screen and (min-width: 48em) {
      padding-left: 2em;
      padding-right: 1em;
    }
    @media screen and (min-width: 64em) {
      padding-left: 5em;
      padding-right: 3em;
    }
  }

  h2.widgettitle {
    text-align: center;
    margin-top: 1em;
    font-weight: normal;
    font-family: $font-family-lang11;
    font-size: 26px;

    @media screen and (min-width: 48em) {
      text-align: left;
    }

    @media screen and (min-width: 64em) {
      font-size: 44px;
    }
  }

  .widget_text {
    margin-left: 1em;
    margin-right: 1em;
  }

  button {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-family-input;
    padding: 10px 60px;
    margin-top: 10px;
  }

  .book-btn {
    display: block;
    @media screen and (min-width: 48em) {
      display: inline-block;
    }
    button {
      background-color: $yellow-website;
      padding: 10px 60px;
      margin: 10px auto;
      display: block;
    }
  }

  .share-btn {
    display: block;
    @media screen and (min-width: 48em) {
      display: inline-block;
    }
    button {
      margin: 10px auto;
      display: block;
      background-color: transparent;
      border: none;
      color: $yellow-website;
      background: no-repeat url("assets/images/share.png") 10% center;
      background-size: contain;
      //padding-left: 20px;
      //padding-right: 20px;
      /*&:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("assets/images/share.png");
        background-size: contain;
        background-repeat: no-repeat;
      }*/
    }
  }

}
