.experts.page{
  .site-content {
    > .wrap-fluid {
      padding-left: 0;
      padding-right: 0;
      overflow-x: hidden;
    }
  }
}
.vc_basic_grid.experts-overview-grid {
  .vc_grid-item-zone-c-right .vc_gitem-animated-block {
    width: 100%;
  }
  .vc_grid.vc_row {
    .vc_grid-item {
      float: left;
      /*
      vc_col-xs-12 vc_col-sm-6 vc_col-md-4
      */
      @media (max-width: 48em){
        width: 50%;
      }
      @media (max-width: 30em){
        width: 100%;
      }
      .vc_gitem-zone{
        &:before{
          background-image: linear-gradient(to bottom, transparent, $dark-blue1);
        }
        .vc_gitem-zone-mini{
          > .vc_gitem_row > .vc_gitem-col{
            padding: 35px;
          }
          .vc_custom_heading.vc_gitem-post-data.vc_gitem-post-data-source-post_title{
            font-family: $font-family-lang10;
            font-size: 40px;
            font-size: 2.5rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $white1;
            border-bottom: 2px solid $dark-blue1;
          }
          .vc_grid-filter.vc_grid-filter-center{
            text-align: left;
            margin-bottom: 5px;
            display: block !important;
            .vc_grid-filter-item.vc_gitem-post-category-name{
              font-family: $font-family-lang5;
              font-size: 24px;
              font-size: 1.5rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: left;
              color: $white1;
              &:not(:last-child):after{
                content: ',';
                padding-right: .3em;
              }
            }
          }
          a.vc_gitem-acf-link {
            background-color: transparent;
            color: $yellow-website;
            text-transform: uppercase;
            font-size: 20px;
            font-size: 1.25rem;
            padding: 0;
            font-family: $font-family-lang5;
            font-weight: bold;
            border: 0;
            box-shadow: none;
            &:hover {
              border: 0;
            }
            &:after {
              content: '\25ba';
            }
          }
        }
      }
    }
  }
}