.faq.page {
  .vc_grid-item{
    .vc_gitem-post-data{
      color: $dark-blue1;
      font-size: 24px;
      font-size: 1.5rem;
      margin-bottom: 0;
      &.vc_gitem-post-data-source-post_title{
        font-weight: bold;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-right: 4em;
        position: relative;
      }
      &.vc_gitem-post-data-source-post_content{
        font-weight: 300;
        transition: height 600ms ease-out;
        height: 0;
        overflow: hidden;
      }
    }
    &:not(:last-child) .vc_gitem-post-data.vc_gitem-post-data-source-post_title{
      border-bottom: 2px solid $silver4;
    }
    .vc_gitem-post-data{
      &.vc_gitem-post-data-source-post_title:after{
        display: block;
        content: '';
        width: 2em;
        height: 2em;
        /*content: '+';
        width: 1em;
        height: 1em;
        font-size: 3rem;
        line-height: 0.85;
        border-width: 0.1em;
        border-style: solid;
        border-color: $yellow-website;
        border-radius: 50%;
        color: $yellow-website;*/
        background-image: url("assets/images/plus.png");
        background-size: contain;
        background-position: center;
        position: absolute;
        text-align: center;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &.accordion-open{
      .vc_gitem-post-data{
        margin-bottom: 15px;
        &.vc_gitem-post-data-source-post_title{
          &:after{
            background-image: url("assets/images/min.png");
          }
        }
        &.vc_gitem-post-data-source-post_content{
          font-weight: 300;
          height: auto;
        }
      }
    }
  }
}
