/* homepage */

.twentyseventeen-front-page.page{
  .section-header{
    font-family: $font-family-lang11;
    font-size: 30px;
  }
  .margin-auto{
    margin-left: auto;
    margin-right: auto;
  }
  .site-description{
    >div{
      margin-bottom: 30px;
    }
  }
  .btn-row{
    .btn{
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .btn-ghost {
      text-transform: uppercase;
    }
    .btn-join{
      padding: 10px 20px;
      margin-bottom: 30px;
    }
    .btn-find{
      padding: 10px 35px;
    }
  }
  .vc-btn{
    .vc_btn3.vc_btn3-style-modern{
      font-size: 20px;
      padding-left: 2em;
      padding-right: 2em;
    }
  }
  .alumni-testimonial-section{
    .wpb_single_image{
      position: relative;
      .vc_single_image-wrapper{
        >img{
          border-radius: 50%;
        }
        .read-more{
          display: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          color: $yellow-website;
          z-index: 1;
          background-color: transparent;
          text-transform: uppercase;
          font-size: 18px;
          padding: 0;
          font-family: $font-family-lang5;
          font-weight: bold;
          &:after {
            content: '\25ba';
          }
        }
      }
      &:hover{
        .read-more{
          display: block;
        }
        &:after{
          border-radius: 50%;
          display: block;
          content: '';
          height: 100%;
          width: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          background-color: $dark-blue4;
        }
      }
    }
  }
  .startup-tips{
    max-width: 800px;
  }
  .circle{
    height: 100vw;
    width: 100vw;
    max-height: 527px;
    max-width: 527px;
    border-radius: 50%;
    text-align: center;
    padding: 2em;
  }
  .quiz{
    h2.vc_custom_heading.font-affable{
      font-size: 36px;
      font-size: 2.25rem;
    }
    h3.vc_custom_heading{
      font-size: 18px;
      font-size: 1.125rem;
      padding-top: 15px;
    }
    .btn-quiz{
      background-color: transparent;
      padding: 0.5em 1em;
      color: $dark-blue1;
      border-color: $white1;
      &:hover{
        background-color: transparent;
      }
    }
  }
  .typeform-container{
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    border-color: $yellow-website;
    z-index: 10;
    display: none;
    >.close{
      background-color: transparent;
      padding: 0;
      font-size: 3em;
      right: 0.5em;
      top: 0.5em;
      position: absolute;
    }
  }
  .founder-note{
    .founder-note-text{
      >.vc_column-inner{
        padding-top: 0;
      }
      .wpb_wrapper{
        h3{
          margin-bottom: 0;
        }
        h3, h4{
          padding-top: 0;
        }
      }
    }
    .wpb_single_image{
      .wpb_wrapper.vc_figure{
        display: block;
        .vc_single_image-wrapper{
          display: block;
        }
      }
    }
  }
  @media screen and (min-width: 48em) {
    .section-header{
      font-size: 44px;
      font-size: 2.75rem;
    }
    .quiz {
      h2.vc_custom_heading.font-affable {
        font-size: 44px;
        font-size: 2.75rem;
      }
      h3.vc_custom_heading {
        font-size: 24px;
        font-size: 1.5rem;
        padding-top: 35px;
      }
      .btn-quiz{
        padding: 1em 4em;
      }
    }
    .what-is-tech-ready {
      max-width: 1200px !important;
    }
    .circle{
      padding: 4em;
    }
  }
  @media screen and (min-width: 30em) {
    .btn-row{
      .btn{
        display: inline-block;
      }
    }
  }
  @media screen and (min-width: 64em) {
    .btn-row{
      .btn{
        font-size: 16px;
        font-size: 1rem;
      }
    }
    .founder-note {
      .founder-note-text {
        padding-left: 4em;
        padding-right: 4em;
        .btn-about-us{
          margin-top: 3em;
        }
      }
    }
  }
  @media screen and (min-width: 79em) {
    .btn-row{
      .btn{
        font-size: 20px;
        font-size: 1.5rem;
      }
    }
  }
}