/*--------------------------------------------------------------
Online-program page
--------------------------------------------------------------*/

.location {

  /*#content {
    .wrap {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }*/
  /* ================ header ================ */
  &.has-header-image {
    .site-branding {
      padding: 0;

      .site-branding-logo {
        padding-top: 5vh;
        padding-left: 3vh;
      }
      .site-branding-text {
        margin: 170px 80px;

        .site-title {
          border-bottom: 2px solid #fff;
          padding-bottom: 30px;
        }
        .site-description {
          margin-bottom: 20px;
        }
        .under-descr-text {
          font-size: 26px;
        }
        .btn-row {
          margin-top: 50px;
        }
        .ghost-btn {
          color: #000;
          background: transparent;
          border: 3px solid #fff;
          font-size: 20px;
          text-transform: uppercase;
          padding: 10px 78px;
        }
        .btn-row a {
          font-size: 22px;
          font-weight: 600;
          padding: 10px 30px;
          text-decoration: underline;
        }
      }
    }
  }
  /* ================ content ================ */

  .vc_row.small-row-block {
    width: 100%;
  }

  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  /*.widget {
    &.widget_text {
      margin-right: 8%;
      margin-left: 8%;

    }
  }*/

  .text-column {
    /*padding-right: 8%;
    padding-left: 6%;
    padding-bottom: 87px;*/
  }

  .entry-content h2.widgettitle {
    font-size: 30px;
    text-align: center;
    color: $black2;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: $font-family-lang11;
    margin-top: 1em;
    //margin-top: 1.2em;
    /*margin-top: 123px;
    margin-bottom: 10px;*/
  }
  .entry-content .title-center h2.widgettitle {
    text-align: center;
  }

  .wrap {
    margin-bottom: 1em;

    .vc_wp_text.wpb_content_element {
      margin-bottom: 0;
    }
    h2.widgettitle {
      text-align: center;
      margin-bottom: 0;
    }
  }

  .row-title {
    p {
      font-size: 44px;
      font-family: $font-family-lang11;
      color: $dark-blue1;
    }
  }

  .entry-content .textwidget {
    font-size: 20px;
  }
  /*.entry-content .textwidget p {
    margin: 0 35px 20px 35px;
    font-family: $font-family-lang3;
    font-size: 24px;
    color: $dark-blue1;
  }*/

  .vc_column-inner {
    height: 100%;
  }

  .padding-for-row {
    padding-top: 8%;
    padding-bottom: 8%;
  }

  .wpb_single_image {
    margin-bottom: 0;
  }

  .alumni-testimonial-section {
    h2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  /*.wpb_wrapper {
    p {
      font-size: 20px;
      text-align: left;
      color: $dark-blue1;
    }
  }*/

  .course-outline-block {
    .course-outline-header {
      p {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 44px;
        font-family: $font-family-lang11;
        color: $black2;
      }
    }
  }

  .signature-block-position {
    margin-top: 0;
    font-size: 24px;
    font-family: $font-family-input;
    font-weight: 300;
  }

  .row-with-padding,
  .column-with-padding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .signature-block {
    font-size: 34px;
    font-family: $font-family-lang10;
    color: $black2;
    margin-bottom: 0;
    margin-right: 1em;
  }

  .get-started-column {
    .textwidget {
      p {
        margin-left: 0;
      }
    }
  }

  .alumni-testimonial-section {
    .wpb_single_image {
      position: relative;
      .vc_single_image-wrapper {
        > img {
          border-radius: 50%;
        }
        .read-more {
          display: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          color: $yellow-website;
          z-index: 1;
          background-color: transparent;
          text-transform: uppercase;
          font-size: 18px;
          padding: 0;
          font-family: $font-family-lang5;
          font-weight: bold;
          &:after {
            content: '\25ba';
          }
        }
      }
      &:hover {
        .read-more {
          display: block;
        }
        &:after {
          border-radius: 50%;
          display: block;
          content: '';
          height: 100%;
          width: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          background-color: $dark-blue4;
        }
      }
    }
  }

  /*main#main {
    p {
      line-height: 30px;
    }
    .custom-list p {
      line-height: 24px;
    }
  }*/

  .wrap-fluid {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
  }
  .vc_row {
    margin: 0 auto;
  }
  .vc_column_container > .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .wrap {
    .vc_column_container > .vc_column-inner {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .title-block {
    p {
      font-size: 44px;
      color: $black2;
      font-weight: normal;
      line-height: 1.1em;
    }
  }

  .column-padding {
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;
    p {
      margin: 0;
    }
  }

  .vc-btn {
    margin-bottom: 10px;
  }

  .join-btn .vc_btn3.vc_btn3-size-md {
    text-transform: uppercase;
    //background-image: none;
    padding: 12px 60px;
    //font-weight: bold;
    //color: $black2;
    font-size: 20px;
    //font-family: $font-family-input;
    border-radius: unset;
    border: none;
    //background-color: $yellow-website;
  }
  .join-btn.bordered-btn .vc_btn3.vc_btn3-size-md {
    border: 2px solid $white1;
    color: $black2;
  }
  .responsive-button {
    text-align: center;
    .vc_btn3.vc_btn3-size-md {
      padding-left: 15px;
      padding-right: 15px;
      width: 80%;
    }
  }
  .get-course-link {
    p {
      color: $yellow-website;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      font-family: $font-family-input;
    }
  }
  .wrapped-text {
    .vc_wp_text.wpb_content_element {
      .widget {
        max-width: 100%;

        @media screen and (min-width: 48em) {
          max-width: 80%;
          margin: 0 auto;
        }
        @media screen and (min-width: 64em) {
          max-width: 80%;
          margin: 0 auto;
        }
        @media screen and (min-width: 79em) {
          max-width: 60%;
          margin: 0 auto;
        }
      }
    }
  }
  .custom-list {
    font-size: 20px;
  }
  .vc_btn3-container.join-btn.vc_btn3-center {
    margin: 10px auto;
  }

  .bordered-top {
    border-top: 1px solid $silver2;
  }

  .contact-form {
    form {
      padding-right: 0;
      padding-left: 0;
    }
    .textwidget {
      p {
        color: $dark-blue1;
        font-size: 24px;
      }
    }
  }

  .wpb_video_widget.wpb_content {
    margin-bottom: 0;
  }

  .alumni-testimonial-section .vc_gitem_row .vc_gitem-col {
    padding: 35px;
  }

  .vc_pagination-color-grey.vc_pagination-style-outline {
    .vc_pagination-trigger,
    .vc_active .vc_pagination-trigger,
    .vc_pagination-trigger:hover,
    .vc_pagination-trigger {
      background-color: transparent;
      border: 2px solid $yellow-website;
      width: 20px;
      height: 20px;
      box-shadow: none;
    }

    .vc_active .vc_pagination-trigger,
    .vc_pagination-trigger:hover {
      background-color: $yellow-website;
    }
  }

  // .height-block-800 .vc_pagination-color-grey.vc_pagination-style-outline .vc_pagination-trigger
  .height-block-800-yellow {
    .vc_pagination-color-grey.vc_pagination-style-outline {

      .vc_pagination-trigger {
        background: transparent;
        border: 2px solid #fff;
        width: 20px;
        height: 20px;
        box-shadow: none;
      }

      .vc_active .vc_pagination-trigger,
      .vc_pagination-trigger:hover {
        background-color: #fff;
        border: 2px solid #fff;
        width: 20px;
        height: 20px;
        box-shadow: none;
      }
    }
  }

  .right-block-list.wpb_column.vc_column_container.vc_col-sm-6 {
    padding: 10px 30px;
    font-size: 20px;
  }
  .height-block-800,
  .image-in-block.wpb_single_image img.vc_img-placeholder.vc_single_image-img,
  .height-block-800 .wpb_video_widget .wpb_wrapper iframe {
    height: 800px;
  }
  .height-block-800 > div {
    height: 100%;
  }

  .height-block-800 .vc_tta-tabs.vc_tta-has-pagination .vc_pagination {
    top: auto;
    bottom: -350px;
  }
  .image-in-block img,
  .video-in-block.wpb_video_widget .wpb_wrapper iframe {
    width: 100%;
  }
  .autorgraph,
  .autorgraph-width {
    margin: 0;
  }
  .autorgraph p {
    font-family: $font-family-lang10;
    text-align: right;
    font-size: 36px;
  }
  .authograph-whois p {
    text-align: right;
  }

  @media screen and (min-width: 48em) {
    .row-with-padding {
      padding-left: 3em !important;
      padding-right: 3em !important;
    }
    .row-with-padding.custom-list {
      padding: 30px !important;
    }
    .column-with-padding {
      padding: 10px 20px;
    }
    .entry-content {
      h2.widgettitle {
        font-size: 34px;
        text-align: center;
      }
      .textwidget {
        p {
          text-align: center;
        }
      }
    }
    .alumni-testimonial-section .vc_column_container > .vc_column-inner {
      padding-left: 15px;
      padding-right: 15px;
    }

    .get-started-column {
      a {
        width: 80%;
      }
    }
    .wrap {
      .vc_column_container > .vc_column-inner {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .course-outline-block .course-outline-header p {
      text-align: center;
    }
    .desktop-align-left {
      h2.widgettitle {
        font-size: 34px;
        text-align: left;
      }
      .textwidget {
        p {
          text-align: left;
        }
      }
    }
    .title-block {
      p {
        text-align: center;
      }
    }

    .get-started-column {
      .responsive-button.join-btn {
        /*padding-left: 60px;
        padding-right: 60px;*/
        text-align: left;
        a {
          width: 80%;
        }
      }
    }

    .responsive-button {
      a.vc_btn3.vc_btn3-size-md {
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
      }
      /*padding-left: 60px;
      padding-right: 60px;*/
      text-align: center;
    }

    .wrap {
      .vc_column_container > .vc_column-inner {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .tick-column.vc_column_container > .vc_column-inner {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .signature-block {
      font-size: 30px;
    }
    .right-block-list.wpb_column.vc_column_container.vc_col-sm-6 {
      padding: 10px 20px;
      font-size: 20px;
    }

    .vc_btn3-container.vc_btn3-left {
      text-align: center;
    }

    .signature-block-position,
    .signature-block {
      text-align: right;
    }

    .text-column {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
    }
    .column-padding {
      padding-right: 40px;
      padding-left: 40px;
    }
    .contact-form {
      form {
        padding-right: 5em;
        padding-left: 5em;
      }
    }

  }

  @media screen and (min-width: 64em) {
    /*.entry-content {
      h2.widgettitle {
        font-size: 44px;
        text-align: left;
      }
    }*/
    .row-with-padding.custom-list {
      padding: 0 !important;
    }
    .responsive-button {
      text-align: center;
      a {
        width: auto;
      }
    }
    .get-started-column {
      .responsive-button {
        a {
          width: auto;
        }
      }
    }
  }
}
