/*--------------------------------------------------------------
Online-program page
--------------------------------------------------------------*/

.online-program.page {
  /* ================ header ================ */
  &.has-header-image {
    .site-branding {
      padding: 0;

      .site-branding-logo {
        //padding-top: 5vh;
        //padding-left: 3vh;

        //.page-header-logo {
        //  height: 57px;
        //}
      }
      .btn-row {
        margin-top: 50px;
      }
      .site-branding-text {
        .site-title {
          border-bottom: 2px solid #fff;
          padding-bottom: 30px;
          max-width: 600px;
        }
        p {
          color: $dark-blue1;
          font-weight: normal;
        }

        .ghost-btn {
          color: $dark-blue1;
          background: transparent;
          border: 3px solid #fff;
          font-size: 20px;
          text-transform: uppercase;
          padding: 10px 78px;
        }
        .btn-row a {
          font-size: 22px;
          font-weight: 600;
          padding: 10px 30px;
          text-decoration: underline;
        }
      }
    }
  }
  .head-container .wrap {
    width: 100%;
    padding: 30px;
    margin: 0;
  }
  /* ================ content ================ */
  .entry-content h2.widgettitle {
    font-size: 46px;
    text-align: center;
    MARGIN-TOP: 20px;
    margin-bottom: 10px;
    font-family: $font-family-lang11;
  }
  .entry-content .textwidget {
    font-size: 20px;
  }
  .entry-content .textwidget p {
    margin: 0;
    font-family: $font-family-lang3;
    font-size: 22px;
  }

  main#main {
    p {
      line-height: 30px;
    }
    .custom-list p {
      line-height: 24px;
    }
  }
  .site-content {
    .wrap-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .anti-wrapper {
      margin-left: auto;
      margin-right: auto;

      .vc_row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .vc_column_container > .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .custom-list {
    font-size: 20px;
  }
  
  .join-btn {
    margin: 10px auto 100px;
    >a {
      padding: 12px 60px;
      font-size: 18px;
    }
  }

  .vc_pagination-color-grey.vc_pagination-style-outline {
    .vc_pagination-trigger,
    .vc_active .vc_pagination-trigger,
    .vc_pagination-trigger:hover,
    .vc_pagination-trigger {
      background-color: transparent;
      border: 2px solid $yellow-website;
      width: 20px;
      height: 20px;
      box-shadow: none;
    }

    .vc_active .vc_pagination-trigger,
    .vc_pagination-trigger:hover {
      background-color: $yellow-website;
    }
  }

  .height-block-800-yellow {
    .vc_pagination-color-grey.vc_pagination-style-outline {

      .vc_pagination-trigger {
        background: transparent;
        border: 2px solid #fff;
        width: 20px;
        height: 20px;
        box-shadow: none;
      }

      .vc_active .vc_pagination-trigger,
      .vc_pagination-trigger:hover {
        background-color: #fff;
        border: 2px solid #fff;
        width: 20px;
        height: 20px;
        box-shadow: none;
      }
    }
  }

  .right-block-list.wpb_column.vc_column_container.vc_col-sm-6 {
    padding: 10px 20px;
    font-size: 20px;
  }

  .height-block-800 iframe {
    height: 100%;
  }

  .height-block-800 {
    & > div {
      //height: 100%;
    }
    &.height-100-percent {
      .wpb_wrapper {
        //height: 100%;
      }
    }
    .vc_tta-tabs.vc_tta-has-pagination .vc_pagination {
      top: auto;
      bottom: -350px;
    }
  }

  .image-in-block img,
  .video-in-block.wpb_video_widget .wpb_wrapper iframe {
    width: 100%;
    //height: 800px;
  }
  .autorgraph,
  .autorgraph-width {
    margin: 0;
  }
  .autorgraph p {
    font-family: $font-family-lang10;
    text-align: right;
    font-size: 36px;
  }
  .authograph-whois p {
    text-align: right;
  }

  @media screen and (max-width: 79em) {
    .height-block-800 {
      &.left-block {
        & > div > div {
            bottom: -110px;
        }
      }
    }
  }

  @media screen and (max-width: 48em) {
    /* =============== content ================ */
    .vc_row.small-row-block {
      width: 100%;
      padding: 0 1em !important;
    }
    .height-block-800 {
      &.right-block {
        .autorgraph {
          margin-top: -3em;
        }
      }
    }
  }

  @media screen and (max-width: 30em) {
    /* =============== content ================ */
    .vc_row.small-row-block {
      margin-top: 1em !important;
    }
    .height-block-800 {
      &.right-block {
        &>div {
          padding: 1em !important;
        }
      }
    }
  }
}