/* online-program-register page */

.online-program-register.page {

  .vc_row {
    margin: 0;
  }

  .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .wrap-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .site-content {
    padding-bottom: 0 !important;
  }

  footer {
    margin-top: 0;
  }

  h1 {
    font-family: $font-family-walbaumbook-regular;
    font-size: 44px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-blue1;
  }

  .Lets-get-you-tech {
    font-family: $font-family-lang5;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-blue1;
  }

  .x-3-hour-workshops {
    font-family: $font-family-lang5;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-blue1;
  }

  .What-to-expect {
    height: 29px;
    font-family: $font-family-lang5;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-blue1;
  }

}