/*--------------------------------------------------------------
Online-program page
--------------------------------------------------------------*/

.payment-info.page {

  .wrap-fluid {
    padding: 0;
  }

  p {
    color: $dark-blue1;
  }

  .head-title {
    font-size: 44px;
    margin-bottom: 1em;
  }

  .An-8-week-part-time {
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 300;
    font-family: $font-family-input;
  }

  label {
    margin-bottom: 0;
    margin-top: 1.5em;
  }

  select {
    padding: 0;
  }

  .payment-plan-cont {
    .plan-item {
      width: 260px;
      height: 160px;
      border: solid 2px $silver4;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 28px 23px 10px;
      text-align: center;
      color: $dark-blue1;
      &:last-child {
        margin-right: 0;
      }
      .plan-price {
        font-family: $font-family-walbaumbook-regular;
        font-size: 44px;
        line-height: 1em;
      }
      .plan-price-desc {
        font-family: $font-family-lang5;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: solid 2px $silver4;
        padding-bottom: 1px;
      }
      .plan-desc {
        font-family: $font-family-lang5;
        font-size: 12px;
        padding-top: 4px;
      }
    }
  }

  .promo-apply {
    text-transform: uppercase;
    color: $yellow-website;
    position: relative;
    bottom: 1.8em;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-right: 1em;
    cursor: pointer;
  }

  .promo-code-block {
    text-align: right;
    margin-top: 1em;
  }

  .payment-details-cont {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: $font-family-lang5;
    color: $dark-blue1;
    font-size: 20px;
    .icon-lock {
      background: no-repeat url("assets/images/lock.png") center left;
      background-size: 21px;
      display: inline-block;
      width: 21px;
      height: 27px;
      vertical-align: text-bottom;
      margin-right: 9px;
    }
    .icon-visa,
    .icon-master-card,
    .icon-amex {
      display: inline-block;
      vertical-align: bottom;
      margin-left: 4px;
      margin-bottom: 2px;
    }
    .icon-visa {
      background: no-repeat url("assets/images/visa.png") center left;
      background-size: 33px;
      width: 33px;
      height: 26px;
      margin-left: 10px;
    }
    .icon-master-card {
      background: no-repeat url("assets/images/master-card.png") center center;
      background-size: 20px;
      width: 34px;
      height: 27px;
      border: 2px solid $dark-blue1;
      border-radius: 4px;
    }
    .icon-amex {
      background: no-repeat url("assets/images/amex.png") center center;
      background-size: 28px;
      width: 34px;
      height: 27px;
      border: 2px solid $dark-blue1;
      border-radius: 4px;
    }
  }

  .contact-form {
    input, select {
      font-size: 20px;
    }
  }

  .vc_row {
    margin: 0;
  }

  .order-summary-info {
    border-top: 2px solid $silver4;
    border-bottom: 2px solid $silver4;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }

  .item {
    font-size: 24px;
    color: $dark-blue1;
    text-align: left;
    line-height: 1.67;
    font-weight: 300;
    font-family: $font-family-input;
  }

  .value {
    float: right;
    font-size: 24px;
    line-height: 1.67;
    font-weight: 300;
    color: $dark-blue1;
    text-align: right;
    font-family: $font-family-input;
  }

  .order-summary-total {
    margin-top: 0;
    span {
      font-weight: bold;
    }
  }

  input[type="submit"] {
    margin: 0;
  }

  .person-info-block {
    padding: 2em;

    p {
      font-family: $font-family-input;
      color: $dark-blue1;
      font-size: 20px;
      font-weight: 300;
    }

    .signature-block-position {
      p {
        margin-top: 0;
        font-size: 20px;
        font-family: $font-family-input;
      }
    }

    .signature-block {
      margin-bottom: 0;
      p {
        font-size: 30px;
        font-family: $font-family-lang10;
        color: $black2;

        margin-right: 1em;
      }
    }
  }

  .payment-info-text {
    color: $dark-blue1;
    font-weight: 300;
    font-size: 20px;
    font-family: $font-family-input;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .vc_column-inner {
    padding-left: 0;
  }

  .text-block-title {
    font-size: 24px;
    font-weight: bold;
    color: $dark-blue1;
    font-family: $font-family-input;
  }

  .join-now-block {
    padding: 4em 1em 0;
    margin: 0 auto;
    p {
      font-size: 20px;
      font-weight: 300;
      font-family: $font-family-input;
      color: $dark-blue1;
      margin-bottom: 10px;

      strong {
        font-size: 32px;
        font-family: $font-family-lang10;
      }
    }
    width: 17em;
    height: 17em;
    border-radius: 50%;
  }

  .centered-background {
    background-position: center;
    .vc_column-inner {
      padding: 20px 0;
    }
  }

  &.page #content.site-content {
    padding-bottom: 0;
  }

  footer {
    margin-top: 0;
  }

  @media screen and (min-width: 48em) {
    .wpb_single_image.vc_align_left {
      text-align: center;
    }

    .your-credit-card-num input,
    .your-cvc input {
      display: inline-block;
    }

    .your-cvc input {
      width: 15%;
      float: right;
    }

    .join-now-block {
      padding: 3em 2em 0;
      margin: 0 auto;
      p {
        font-size: 20px;
        font-weight: 300;
        font-family: $font-family-input;
        color: $dark-blue1;
        margin-bottom: 10px;

        strong {
          font-size: 32px;
          font-family: $font-family-lang10;
        }
      }
      width: 15em;
      height: 15em;
    }

    .your-credit-card-num {
      input {
        width: 83%;
      }
    }

    .expiry-month {
      select {
        width: 48%;
      }
    }

    .expiry-year {
      float: right;
      width: 48%;
    }

    .payment-details-cont {
      margin-top: 1em;
      margin-bottom: 1em;
      font-family: $font-family-lang5;
      color: $dark-blue1;
      font-size: 20px;
    }

    .signature-block-position,
    .signature-block {
      text-align: right;
    }
  }

  @media screen and (min-width: 64em) {
    .join-now-block {
      padding: 5em 2em 0;
      margin: 0 auto;
      p {
        font-size: 24px;
        font-weight: 300;
        font-family: $font-family-input;
        color: $dark-blue1;
        margin-bottom: 10px;

        strong {
          font-size: 40px;
          font-family: $font-family-lang10;
        }
      }
      width: 20em;
      height: 20em;
    }

    .contact-form {
      input, select {
        font-size: 24px;
      }
    }

  }

  @media screen and (min-width: 79em) {
    .join-now-block {
      padding: 7em 2em 0;
      margin: 0 auto;
      p {
        font-size: 24px;
        font-weight: 300;
        font-family: $font-family-input;
        color: $dark-blue1;
        margin-bottom: 10px;

        strong {
          font-size: 40px;
          font-family: $font-family-lang10;
        }
      }
      width: 25em;
      height: 25em;
    }
  }

  @media screen and (max-width: 768px) {
    .wpb_single_image.vc_align_left {
      text-align: center;
    }
  }
}
