.thanks-for-registering.page {
  .thanks-for-registering-title {
    p {
      text-align: center;
      font-size: 44px;
      font-family: $font-family-lang11;
      color: $black2;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }

  .vc_column-inner {
    .thanks-for-registering-paragraph {
      p {
        font-size: 24px;
        font-family: $font-family-input;
        font-weight: 300;
        color: $dark-blue1;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }
    }
  }
}